            
            
            h1{
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                font-size: 16px;
                font-style: italic;
                text-align: center;
                text-decoration:underline;
                color: red;}

                .nasceu{

                    color: darkblue;
                }